<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Exercice_01_Servlet</servlet-name>
        <servlet-class>ch.conceptforge.tp_mars_web.exercice_01.Exercice_01_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercice_02_Servlet</servlet-name>
        <servlet-class>ch.conceptforge.tp_mars_web.exercice_02.Exercice_02_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercice_03_Servlet</servlet-name>
        <servlet-class>ch.conceptforge.tp_mars_web.exercice_03.Exercice_03_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercice_04_Servlet</servlet-name>
        <servlet-class>ch.conceptforge.tp_mars_web.exercice_04.Exercice_04_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercice_02_Servlet_02</servlet-name>
        <servlet-class>ch.conceptforge.tp_mars_web.exercice_02.Exercice_02_Servlet_02</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Exercice_01_Servlet</servlet-name>
        <url-pattern>/Exercice_01_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercice_02_Servlet</servlet-name>
        <url-pattern>/Exercice_02_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercice_03_Servlet</servlet-name>
        <url-pattern>/Exercice_03_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercice_04_Servlet</servlet-name>
        <url-pattern>/Exercice_04_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercice_02_Servlet_02</servlet-name>
        <url-pattern>/Exercice_02_Servlet_02</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
